html,body{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
}

.nav2-div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 25px;
}
.navmain-div{
    text-align: center;
    margin: 45px 0px 0px 0px;
    
}

.about{
    margin: 140px 0px 0px 200px;
}
.text{
   font-size: 22px; 
   font-weight: bold;
}
.desigination{
  margin: -20px 0px 0px 0px;
}
.location{
    margin: -30px 0px 0px 280px;
}
.text1{
    font-size: 46px;
    font-weight: bold;
}
.text2{
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia;
}
.icon-1,.icon-2,.icon-3,.icon-4,.icon-5{
    width: 100px;
    height: 100p;
    margin: -180px 0px 0px 800px;
    position: absolute;
}
.icon-2{
    margin: -280px 0px 0px 870px;
}
.icon-3{
    margin: -290px 0px 0px 980px;
}
.icon-4{
    margin: -300px 0px 0px 755px;
}.icon-5{
    margin: -185px 0px 0px 950px;
}
.icons4d{
    width: 650px;
    height: 500px;
    position: absolute;
    margin: -400px 0px 0px 600px;
}
/* ================== */
.skills{
    margin: 200px 0px 0px 850px ;
    height: 1000px;
}
.text3{
    position: absolute;
    font-size: 56px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times;
    font-style: italic;
    margin: 200px 0px 0px 200px;
}
.text4{
    font-size: 20px;
    font-family: 'Times New Roman', Times;
    margin: 280px 0px 0px 230px;
    position: absolute;
}
.html,.js,.learning{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 25px;

}
.cjs.learning{
    position: absolute;
}
.js{
    margin-top: 50px;
}
.learning{
    margin-top: 50px;

}
.icon-6{
width: 65px;
height: 65px;
margin: 5px 0px 0px 320px;
}
.icon-7,.icon-8{
    width: 100px;
    height: 100px;
}
.icon-7{
    margin: 10px 0px 0px 15px;
}
.icon-8{
    margin: 15px 0px 0px 295px;
}
.icon-9,.icon-10,.icon-11{
    width: 120px;
    height: 120px;
    position: absolute;
    margin: -730px 0px 0px 350px
}
.icon-10{
    margin: -480px 0px 0px 200px
}
.icon-11{
    margin: -480px 0px 0px 500px
}
.line1{
    width: 3px;
    height: 150px;
    position: absolute;
    background: linear-gradient(to bottom, indigo, purple);
margin: -620px 0px 0px 330px;
transform: rotate(30deg);
}
.line2{
    width: 3px;
    height: 150px;
    position: absolute;
    background: linear-gradient(to bottom, indigo, purple);
margin: -620px 0px 0px 480px;
transform: rotate(150deg);
}
/* ================== */
.text5{
    position: absolute;
    font-size: 56px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times;
    font-style: italic;
    margin: -200px 0px 0px 200px;
}
.projects{
    clear: both;
    height: 400px;
    margin: -100px 0px 0px 0px;
}
.project1,.project2{
    border: 1px solid black;
    width: 450px;
    height: 300px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 10px 10.5px black;
    position: absolute;
}
.project1{
    margin:  25px 0px 0px 200px;

}
.project2{
    margin:  25px 0px 0px 800px;
}
.project1:hover{
    margin-top: -20px;
    transition: 0.3s;
}
.project2:hover{
    margin-top: -20px;
 transition: 0.3s;
}
.text6{
    font-size: 80px;
    font-weight: bold;
    margin: 100px 100px 100px 200px;
}
.connect{
    width: 150px;
    height: 50px;
    border-radius: 35px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    background-color: turquoise;
    box-shadow: 5px 10px 15px;
    margin: -80px 0px 0px 670px;
    position: absolute;
}


.contact{
    border: 2px solid white;
    width: 100%;
    height: 400px;
    /* border: none; */
    margin: 800px 0px 0px 0px;
   
     
}
.border{
    width: 45px;
    height: 50px;
    margin: 25px 0px 0px 650px;
}
.mail{
    width: 68.5px;
    height: 50px;
    box-shadow: 5px 10px 15px black;
    border-radius:8px;
    position: relative;
}
/* .text4{
  font-size: 55px;
  font-weight: bold;
  margin: 50px 0px 0px 350px;
  padding-top: 50px;
  font-family: 'Times New Roman', Times, serif;
   background: linear-gradient(to right, red, yellow);
   
} */
.mailname{
    font-size: 18px;
    margin: -38px 0px 0px 740px;
    width: 0px;
    border: 1px solid black;
    overflow: hidden;
    border: none;
}
.social{
    margin: 65px 0px 0px 500px;
}
svg{
    box-shadow: 5px 10px 15px black;
    margin-left: 80px;
}
#insta{
border-radius: 18.5px;
}
#lin{
border-radius: 5.5px;
margin: 0px 0px 0px 100px;
}




